@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
a{
    text-decoration:none
}
body{
    font-family:"Poppins",sans-serif;
    background-color:#1b1006;
    color: #ffffff;
}
nav{
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    background-color: #130e05;

    z-index:99;
}
.nav_content{
    max-width:1200px;
    margin:auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    transition: .3s;
}
nav .logo a:hover{
    color:#af7717
}
nav .checkbox{
    display:none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: #ffffff;
    cursor:pointer;
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
ul li a{
 padding: 0.5rem 1rem;
 border: 2px solid transparent;
 text-decoration: none;
 font-weight: 600;
 color: #ffffff;
  transition: 0.3s;
}
ul li a:hover{
    border-top-color:#ca8a04;
    border-bottom-color: #ca8a04;
    color:#ca8a04;
}
#section{
    background-color:  #1b1006;
}
.section_container{
    min-height: 100vh;
    max-width:1200px;
    margin: auto;
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:4rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle{
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #ffffff;
    margin-bottom: 1rem;
}
.title span{
    font-weight: 600;
}
.colo{
    color: #ca8a04;
}
.description{
    line-height: 1.5rem;
    color: #cfcece;
    margin-bottom: 2rem;
}
.action_btns{
    display: flex;
    gap:1rem;
}
.action_btns button{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    background-color:#d4cfc8;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
    color:#ca8a04;
}
.action_btns button:hover{
    background-color: #ca8a04;
    color: #261d0b;
}
.image{
    display:grid;
    place-items: center;
}
.image img{
    width:min(25rem, 90%);
    border-radius:100%;
}
@media(width<750px){
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh-85px);
        left: -100%;
        top: 85px;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked ~ ul{
        left: 0;
    }
    ul li a{
        font-size: 1.2rem;
    }
    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    .image{
        grid-area: 1/1/2/2;
    }
    .action_btns{
        margin: auto;
    }
}
hr{
    border: 0;
    background-color: #908d86;
    height: 1.2px;
    margin: 40px 94px;
}

.about-container{
    padding: 16px 40px 16px 40px;
    color: #ffffff;
    margin: 20px 90px 20px 90px;
}
#about-h1{
    font-weight: 400;
    font-size: 42px;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 60px;
}
.about-col-1 p{
    line-height:1.9rem;
    font-size: 16px;
    color: #fffdfa;
    font-weight: 500;
}
.about-col-2 p{
    line-height:1.9rem;
    font-size: 16px;
    color: #fffdfa;
    font-weight: 500;
    margin: auto;
}
.about-col-3 p{
line-height:1.9rem;
    font-size: 16px;
    color:  #fffdfa;
    font-weight: 500;
    margin: auto;
}
/*------Project------*/
.project{
    padding: 16px 40px 16px 40px;
    margin: 20px 90px 20px 90px;
}
#project-h1{
    font-weight: 400;
    font-size: 42px;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper>div{
    margin: 10px;
    padding: 20px;
}
.project-image{
    width:500px;
    position: relative;
}
img{
    width: 100%;
    display: block;
    margin: auto;
}
.project-content{
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.project-content:hover{
    opacity:1;
}
.project-content h2{
    font-size: 45px;
    color: #ca8a04;
    margin-bottom: 15px;
}
.project-content p{
    font-size: 19px;
    color: #d2d0cb;
}
.project-content >*{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.project-content:hover >*{
    transform: translateY(0px);
    
}

/*----resume----*/
.resume-container{
    padding: 16px 40px 16px 40px;
    color: #ffffff;
    margin: 20px 90px 20px 90px;
}
.resume-content{
    margin-left: 400px;
}
.resume-content a{
    text-decoration: none;
    color: #ca8a04;
}
#resume-h1{
    font-weight: 400;
    font-size: 42px;
}
/*---contact---*/
.contact-container{
    padding: 16px 40px 16px 40px;
    color: #ffffff;
    margin: 20px 90px 20px 90px;
}
#contact-h1{
    font-weight: 400;
    font-size: 42px;
}
.icon-loc{
    font-size: 30px;
    margin-left: 82px;
}
.loc{
    margin-left: 53px;
    margin-top: 14px;
    color: #ca8a04;
}
.loc p{
    margin-top: 14px;
    color: #fffdfa;
}
.icon-contact{
    font-size: 30px;
    margin-left: 40px;
}
.phone{
    margin-left: auto;
    margin-top: 14px;
    color: #ca8a04;
}
.phone p{
    margin-left: auto;
    color: #fffdfa;
}
.icon-email{
    font-size: 30px;
    margin-left: 82px;
}
.email{
    margin-left: 74px;
    margin-top: 14px;
    color: #ca8a04;
}
.email p{
    margin-right: 50px;
    color: #fffdfa;
}
/*----footer---*/
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 6px;
    background-color: #ffffff;
    margin: 6px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1.25em;
    color: #261d0b;
    opacity: 0.9;
}
.socialIcons a:hover i{
    color: #ffffff;
    transition: 0.5s;
}
.footerBottom{
    background-color:  #160f08;
    padding: 20px;
    text-align: center;
}
